@page "/product/edit/{productId:int}"
@inject HttpClient http
@inject NavigationManager uriHelper
@inject IJSRuntime js

<h3>Edit</h3>

<Form ButtonText="Update" product="product"
      OnValidSubmit="@EditProduct" />

@code {
    [Parameter] public int productId { get; set; }
    Product product = new Product();

    protected async override Task OnParametersSetAsync()
    {
        product = await http.GetFromJsonAsync<Product>($"api/products/{productId}");
    }

    async Task EditProduct()
    {
        await http.PutAsJsonAsync("api/products/" + productId, product);
        await js.InvokeVoidAsync("alert", $"Updated Successfully!");
        uriHelper.NavigateTo("product");

    }
}